@model IEnumerable<MVCPeliculas.Models.PeliculaDeseada>

@{
    ViewData["Title"] = "Peliculas Deseadas";
}

@if(Model.Count() == 0)
{
    <h1 style="text-align:center;">No tenes ninguna pelicula deseada</h1>
}

<div class="row justify-content-center">
    @foreach (var item in Model)
    {
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="@item.Pelicula.LinkFoto" alt="@item.Pelicula.Nombre">
            <div class="card-body">
                <div class="row">
                    <h5 class="card-title" style="margin-right:10px">@item.Pelicula.Nombre</h5>
                    @for (int i = 0; i < item.Pelicula.Valoracion; i++)
                    {
                        <img src="~/img/Estrella.png" style="width:20px;" height="20px" />
                    }
                    <img src="@("/img/" + item.Pelicula.Plataforma + ".jpg")" style="width:30px; height:30px; margin-left:20px;">
                </div>

                <div class="row justify-content-center">
                    @if (User.IsInRole(Rol.Usuario.ToString()))
                    {
                        <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-info">Detalles</a>
                        <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger boton">Eliminar</a>
                        <a asp-action="AgregarPeliculaVista" asp-route-id="@item.PeliculaId" class="btn btn-success boton">Vista</a>
                    }
                </div>
            </div>
        </div>
    }
</div>