@model MVCPeliculas.Models.Pelicula

@{
    ViewData["Title"] = Model.Nombre;
}

<h3>¿Estas seguro que queres agregar esta pelicula a tus deseadas?</h3>
<p style="color:red">
    @ViewBag.ErrorPelicula
</p>
<div>
    <h4>Pelicula</h4>
    <hr />
    <div class="row">
        <dl class="row col-7">
            <dd class="col-sm-12">
                <img src="@Html.DisplayFor(model => model.LinkFoto)" style="width:300px;height:300px">
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Nombre)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Nombre)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Valoracion)
            </dt>
            <dd class="col-sm-10">
                @for (int i = 0; i < Model.Valoracion; i++)
                {
                    <img src="~/img/Estrella.png" style="width:20px;" height="20px" />
                }
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Anio)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Anio)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Genero)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Genero)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Plataforma)
            </dt>
            <dd class="col-sm-10">
                <img src="@("/img/" + Model.Plataforma + ".jpg")" style="width:50px;height:50px">
            </dd>
        </dl>
        <div class="col-5" style="margin-top: 100px">
            <p>
                @Html.DisplayFor(model => model.Sinopsis)
            </p>
        </div>
    </div>
    
    <form asp-action="AgregarPeliculaDeseada">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Agregar" class="btn btn-success" />
        <a asp-action="Index" class="btn btn-info">Volver</a>
    </form>
</div>
