@model MVCPeliculas.Models.Pelicula

@{
    ViewData["Title"] = "Details";
}


<div>
    <h1>@Html.DisplayFor(model => model.Nombre)</h1>
    <div class="row">
        <dl class="row col-7">
            <dd class="col-sm-12">
                <img src="@Model.LinkFoto" style="width:300px;height:300px">
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Valoracion)
            </dt>
            <dd class="col-sm-10">
                @for (int i = 0; i < Model.Valoracion; i++)
                {
                    <img src="~/img/Estrella.png" style="width:20px;" height="20px" />
                }
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Anio)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Anio)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Genero)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Genero)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Plataforma)
            </dt>
            <dd class="col-sm-10">
                <img src="@("/img/" + Model.Plataforma + ".jpg")" style="width:50px;height:50px">
            </dd>
        </dl>
        <div class="col-5" style="margin-top: 100px">
            <p>
                @Html.DisplayFor(model => model.Sinopsis)
            </p>
        </div>
    </div>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Volver</a>
</div>
