@model IEnumerable<MVCPeliculas.Models.Pelicula>

@{
    ViewData["Title"] = "Index";
}

<h1>Peliculas</h1>

<p>
    <a asp-action="Create">Agregar Nueva Pelicula</a>
</p>

@if (User.IsInRole(Rol.Admin.ToString()))
{
    <p>Vista de administrator!</p>
}

@if (User.IsInRole(Rol.Usuario.ToString()))
{
    <p>Vista de usuario!</p>
}

@if (User.IsInRole(Rol.Admin.ToString()))
{
    <a asp-action="Create">Create New</a>
}

<div class="row" style="text-align-center">
    @foreach (var item in Model)
    {
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="@item.LinkFoto" alt="@item.Nombre">
            <div class="card-body">
                <div class="row">
                    <h5 class="card-title">@item.Nombre</h5>
                    @for (int i = 0; i < item.Valoracion; i++)
                    {
                        <img src="~/img/Estrella.png" style="width:20px;" height="20px" />
                    }
                </div>

                <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-primary">Editar</a>
                <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger">Borrar</a>
                <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-info">Ver mas</a>
                <a asp-action="AgregarPeliculaVista" asp-route-id="@item.Id" class="btn btn-success">Vista</a>
                <a asp-action="AgregarPeliculaDeseada" asp-route-id="@item.Id" class="btn btn-warning" class="btn btn-primary">Deseada</a>
            </div>
        </div>
    }
</div>



